#The start and end of the IP lease block
start    [[start]]
end      [[end]]

#The interface that udhcpd will use
interface   [[iface]]

option  subnet  [[netmask]]
opt     router  [[boxip]]
opt     wins    [[boxip]]
option  dns     8.8.8.8
option  domain  local
option  lease   864000
